body{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template: 180px 1fr / 400px 1fr;
}

/*sidebar*/
.sidebar{
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 100px 300px 150px;
    gap: 70px;
    background-color: #0ea5e9;
}

.one{
    display: grid;
    grid-template-columns: 100px 1fr;
    color: white;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    margin: 15px;
}

.sidebar img{
    filter: brightness(0) invert(1);
}

.two img{
    height: 30px;
    width: 30px;
}

.three img{
    height: 30px;
    width: 30px;
}

.two,
.three{
    color: white;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
    gap: 15px;
    margin-left: 30px;
}

.two{
    display: grid;
    grid-template: repeat(6, 1fr) / 30px 1fr;
}

.three{
    display: grid;
    grid-template: repeat(3, 1fr) / 30px 1fr;
}



/*header first row*/
.header{
    grid-column: 2/3;
    box-shadow: 0 6px 4px #94a3b8;
    position: relative;
    padding-top: 20px;
}

.row-one{
    display: flex;
    justify-content: space-around;
}

.one-left{
    display: flex;
    gap: 25px;
    align-items: center;
}

input{
    width: 800px;
    height: 40px;
    background-color: #e2e8f0;
    border-radius: 20px;
    border: 0px;
}

.one-right{
    display: flex;
    gap: 25px;
    align-items: center;
}

.row-one img{
    height: 30px;
    width: 30px;
}

.user-name{
    font-weight: bold;
    font-size: 25px;
}

.profile-pic img{
    width: 50px;
    height: 50px;
}

/*header second row*/
.row-two{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.two-left{
    display: flex;
    font-weight: bold;
    font-size: 30px;
    gap: 15px;
}

.hello span{
    font-size: 20px;
}

.profile-pic-two img{
    width: 80px;
    height: 80px;
}

.two-right{
    display: flex;
    gap: 30px;
    align-items: center;
}

.two-right button{
    color: white;
    background-color: #0ea5e9;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    border: 0px;
}

/*main-content left*/
.main-content{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #e2e8f0;
    display: grid;
    grid-template: 50px 1fr / 2fr 1fr;
}

.projects{
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template: repeat(3, 200px) / repeat(2, 400px);
    gap: 40px;
    margin-left: 40px;
    margin-top: 30px;
}

.your-projects{
    margin-left: 40px;
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

.projects >*{
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #94a3b8;
    border-left: 10px solid #fbbf24;
    display: grid;
    grid-template: 2fr 1fr / 1fr 1fr;
}

.ptext{
    grid-column: 1/3;
    padding: 20px;
}

.icons{
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: right;
    padding-right: 20px;
}

.projects img{
    width: 25px;
    height: 25px;
}

.projects span{
    font-weight: bold;
    font-size: 20px;
}

/*main-content right*/
.main-content-right{
    display: grid;
    grid-template: 50px 280px 50px 280px / 350px;
    gap: 30px;
}

.announcements{
    grid-row: 1/2;
    font-size: 25px;
    font-weight: bold;
}

.announc{
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #94a3b8;
}

.announc >*{
    width: 375px;
    height: 100px;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

.trending{
    grid-row: 3/4;
    font-size: 25px;
    font-weight: bold;
}

.trend{
    grid-row: 4/5;
    display: grid;
    grid-template: repeat(4, 70px) / 70px 280px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #94a3b8;
    align-items: center;
}

.trend .u{
    font-size: 20px;
    padding-left: 50px;;
}

.trend img{
    width: 50px;
    height: 50px;
    padding-left: 50px;
}


